In [41]:
import ibm_db

In [45]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"           # i.e. "TCPIP"
dsn_uid = "tfc63639"        # e.g. "dash104434"
dsn_pwd = "bt92+2dj9cdmrphw"       # e.g. "7dBZ3wWt9XN6$o0JiX!m"

In [46]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [47]:
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected!")

except:
    print ("Unable to connect to database")

Connected!

In [57]:
import pandas as pd
from sqlalchemy import create_engine
sql_conn = create_engine("ibm_db_sa://tfc63639:bt92%2B2dj9cdmrphw@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB")
df1 = pd.read_csv("Chicago_Crime_Data.csv",header = 0 )
df1.head()
df1.to_sql('Chicago_Crime_Data',con=sql_conn,if_exists='replace',index=False)

In [49]:
%load_ext sql
%sql ibm_db_sa://tfc63639:bt92%2B2dj9cdmrphw@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: tfc63639@BLUDB'

In [56]:
%sql select * from Chicago_Crime_Data limit 2

   ibm_db_sa://jrh90759:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
 * ibm_db_sa://tfc63639:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '08/28/2004 05:50:56 PM'),
 (3406613, 'HK456306', '06/26/2004 12:40:00 PM')]

# Load csv to DB2

In [16]:
import pandas as pd
from sqlalchemy import create_engine
sql_conn = create_engine("ibm_db_sa://tfc63639:bt92%2B2dj9cdmrphw@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB")
df1 = pd.read_csv("Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv",header = 0 )
df1.head()
df1.to_sql('census_data',con=sql_conn,if_exists='replace',index=False)

In [18]:
df2 = pd.read_csv("Chicago_Crime_Data.csv")
df2.head()
df2.to_sql('chicago_crime_data',con=sql_conn,if_exists='replace',index=False)

In [7]:
df3 = pd.read_csv("Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_.csv")
df3.head()
df3.to_sql('chicago_public_schools',con=sql_conn,if_exists='replace',index=False)

In [8]:
%load_ext sql

In [9]:
%sql ibm_db_sa://jrh90759:nsrk9bh3dbtms%40ll@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: jrh90759@BLUDB'

In [10]:
#%sql  select 'db_name' from sysibm.sysdummy1 select name from all the table
#%sql select name from sysibm.systables

In [21]:
%sql select * from census_data limit 2

 * ibm_db_sa://jrh90759:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.OperationalError) ibm_db_dbi::OperationalError: SQLNumResultCols failed: [IBM][CLI Driver] SQL30081N  A communication error has been detected. Communication protocol being used: "TCP/IP".  Communication API being used: "SOCKETS".  Location where the error was detected: "169.53.15.110".  Communication function detecting the error: "send".  Protocol specific error code(s): "10054", "*", "0".  SQLSTATE=08001\r SQLCODE=-30081 [SQL: 'select * from census_data limit 2'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [12]:
%sql select * from chicago_crime_data limi2

 * ibm_db_sa://jrh90759:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [13]:
%sql select * from chicago_public_schools limi2

 * ibm_db_sa://jrh90759:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [11]:
%sql truncate tables chicago_public_schools

ERROR:root:Line magic function `%sql` not found.

In [17]:
df1.head()

,Community_Area_Number,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW POVERTY,PERCENT_AGED_16+_UNEMPLOYED,PERCENT_AGED_25+_WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [20]:
df1 = pd.read_csv("Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv",header = 0 )
df1.head()

,Community_Area_Number,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW POVERTY,PERCENT_AGED_16+_UNEMPLOYED,PERCENT_AGED_25+_WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0